<div class="container-fluid">
  <div class="page-header">
    <h1>Text Reverse <small>try it out now!</small></h1>
  </div>
  <form name="reverseForm">
    <div class="form-group">
      <label for="inputText">Enter Text</label>
      <input id="inputText" ng-model="inputText" type="text" placeholder="Text" class="form-control" required />
    </div>
    <button class="btn btn-info" ng-click="onBtnReverseClick()">Reverse</button>
  </form>

<!--   <div class="container top-buffer"> -->
    <div ng-show="reversedText" class="alert alert-info top-buffer" role="alert">
      <span class="type-effect">{{ reversedText }}</span>
    </div>
  <!-- </div> -->
</div> 

